In [1]:
import pandas as pd

# --- 0. Simulación del archivo ventas_mensuales.csv ---
# Se crea un DataFrame de ejemplo para la demostración, con una columna extra.
data = {
    'Mes': ['Enero', 'Enero', 'Febrero', 'Febrero', 'Marzo', 'Marzo', 'Enero', 'Febrero'],
    'Categoria': ['Electrónica', 'Hogar', 'Electrónica', 'Ropa', 'Hogar', 'Ropa', 'Hogar', 'Hogar'],
    'Ventas': [25000, 15000, 22000, 9500, 20000, 16000, 6500, 18000],
    'Cantidad': [10, 30, 8, 25, 40, 32, 15, 35]
}
df_ejemplo = pd.DataFrame(data)
df_ejemplo.to_csv('ventas_mensuales.csv', index=False)
print("--- Archivo 'ventas_mensuales.csv' de ejemplo creado. ---")


# --- Inicio de la Resolución del Ejercicio ---

# 1. Cargar el dataset
print("\n--- 1. Carga de datos ---")
df = pd.read_csv('ventas_mensuales.csv')
print("Datos cargados exitosamente.")
display(df.head())


# 2. Agrupar por 'Categoría' y aplicar agg()
print("\n--- 2. Agregación Múltiple sobre una Columna ---")
# Se agrupa por 'Categoria' y se calculan varias estadísticas para 'Ventas'.
agregado_por_categoria = df.groupby('Categoria')['Ventas'].agg(['sum', 'mean', 'max']).round(2)
print("Suma, promedio y máximo de ventas por categoría:")
display(agregado_por_categoria)


# 3. Aplicar múltiples funciones a múltiples columnas
print("\n--- 3. Agregación Múltiple sobre Múltiples Columnas ---")
# Se agrupa por 'Mes' y se aplica una función a 'Ventas' y otra a 'Cantidad'.
agregado_por_mes = df.groupby('Mes').agg({
    'Ventas': 'sum',      # Suma total de Ventas
    'Cantidad': 'mean'   # Promedio de Cantidad
}).round(2)
print("Suma de Ventas y promedio de Cantidad por mes:")
display(agregado_por_mes)


# 4. Usar una función lambda en agg()
print("\n--- 4. Agregación con Función Personalizada (lambda) ---")
# Se agrupa por 'Categoria' y se calcula el rango (diferencia entre max y min) de ventas.
rango_ventas = df.groupby('Categoria')['Ventas'].agg(
    Rango_Ventas=lambda x: x.max() - x.min()
)
print("Rango de ventas (max - min) por categoría:")
display(rango_ventas)


# 5. Exportar los resultados
print("\n--- 5. Exportación de Resultados ---")
# Se exporta uno de los DataFrames agregados a un nuevo archivo CSV.
agregado_por_categoria.to_csv('reporte_agregado_categoria.csv')
print("Reporte agregado por categoría guardado como 'reporte_agregado_categoria.csv'.")

--- Archivo 'ventas_mensuales.csv' de ejemplo creado. ---

--- 1. Carga de datos ---
Datos cargados exitosamente.

       Mes    Categoria  Ventas  Cantidad
0    Enero  Electrónica   25000        10
1    Enero        Hogar   15000        30
2  Febrero  Electrónica   22000         8
3  Febrero         Ropa    9500        25
4    Marzo        Hogar   20000        40

--- 2. Agregación Múltiple sobre una Columna ---
Suma, promedio y máximo de ventas por categoría:

               sum     mean    max
Categoria
Electrónica  47000  23500.0  25000
Hogar        59500  14875.0  20000
Ropa         25500  12750.0  16000

--- 3. Agregación Múltiple sobre Múltiples Columnas ---
Suma de Ventas y promedio de Cantidad por mes:

         Ventas  Cantidad
Mes
Enero     46500     18.33
Febrero   49500     22.67
Marzo     36000     36.00

--- 4. Agregación con Función Personalizada (lambda) ---
Rango de ventas (max - min) por categoría:

             Rango_Ventas
Categoria
Electrónica          3000
Hogar               13500
Ropa                 6500

--- 5. Exportación de Resultados ---
Reporte agregado por categoría guardado como 'reporte_agregado_categoria.csv'.